.App {
  font-family: "ClashDisplay-Regular";
}



.App-header {
  background-color: #1E1E1E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: aliceblue;
}



.mainText{
  max-width: 630px;
  text-align: start;
}

.vert{
  color: #26E8A0;
}

.box{
  margin-left: 6%;
}

li{
  color: aliceblue;
  margin-top: 30px;
}


ol{
  list-style: none;
  text-decoration: none;

}


.wrapperMenu{
  text-align: center;
  display: block;
  margin-left: 60%;
  margin-top: -12%;
}